:root {
  --nav-height: 70px; 
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--nav-height));
  width: 100%;
  gap: 100px;
}

.blr-left-bag,
.blr-right-bag {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.blr-left-bag {
  left: 0;
}

.blr-right-bag {
  height: 80%;
  right: 0;
}

.scroll-down-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 46%;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: auto;
}

.scroll-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: #b08f6d;
  margin: 12px 0 12px 0;
}

.hero-title {
  margin-bottom: 10px;
}

.hero-desc {
  position: relative;
  z-index: 10;
  margin: 0 30px 30px 0;
}

.hero-desc-p {
  font-size: 42px;
  color: #362e29;
  font-weight: normal;
  margin: 0;
}

.hero-desc-p-bold {
  display: flex;
  font-weight: bold;
}

/* Adjustments for different screens */

@media (max-width: 1023px) {
  .hero-section {
    gap: 20px;
  }

  .hero-desc-p-bold {
    display: flex;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .hero-section {
    margin: 0;
  }

  .hero-image {
    display: none;
  }

  .hero-desc{
    margin: 0 auto 100px;
  }

  .hero-title{
    margin-top: 0;
  }

  .hero-desc-p {
    font-size: 28px;
    color: #362e29;
    font-weight: normal;
    margin: 0;
    width: 300px;
  }

  .blr-right-bag{
    height: 50%;
  }

  .scroll-down-container {
    left: 42%;
  }
}

@media (max-width: 426px) {
  .scroll-down-container {
    left: 37%;
  }
}

